body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background: lightblue;
}
.wrapper {
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px black;
}
.h1 {
    font-size: 2rem;
    color: black;
}
p {
    margin-bottom: 1.7rem;
}
form input {
    width: 85%;
    outline: none;
    border: none;
    background: lightblue;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.recover {
    text-align: right;
    font-size: 0.8rem;
    margin: 0.2rem 1.7rem 0 0;
}
.recover a {
    text-decoration: none;
    color: black;
}
button {
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 8px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 85%;
    background: skyblue;
    color: white;
    cursor: pointer;
}
button:hover {
    background: crimson;
}
.or {
    font-size: 0.8rem;
    margin-top: 1.5rem;
}
.icons i {
    color: black;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    margin-left: 0.9rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid white;
}
.icons i:hover {
    color: white;
    background: black;
    transition: 1s;
}
.icons i:first-child {
    color: green;
}
.icons i:last-child {
    color: blue;
}
.not-member {
    font-size: 0.8rem;
    margin-top: 1.4rem;
}
.not-member a {
    color: tomato;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


